<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Send Prescription</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="signup-form">
                <form th:action="@{/prescription/form}" class="mt-5 border p-4 bg-light shadow" method="post">
                    <h4 class="mb-5 form-title">Send Prescription & Diagnosis Ailments</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="patientName" class="form-label">Patient's Name</label>
                            <input type="text" class="form-control" id="patientName" name="patientName" disabled="true" th:value="${patientName}">
                            <input type="hidden" class="form-control" id="patientId" th:name="patientId" disabled="true" th:value="${patientId}">
                        </div>
                        <div class="col-md-6">
                            <label for="doctorName" class="form-label">Doctor's Name</label>
                            <input type="text" class="form-control" id="doctorName" name="doctorName" disabled="true" th:value="${doctor.name}">
                            <input type="hidden" class="form-control" id="doctorId" th:name="doctorId" disabled="true" th:value="${doctor.userId}">

                        </div>

                        <div class="mb-3 col-md-12">
                            <label>Prescription<span class="text-danger">*</span></label>
                            <textarea rows="4" cols="50" th:name="prescription" class="form-control form-input" autofocus="true" style="resize: none;"></textarea>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label>Diagnosis ailment<span class="text-danger">*</span></label>
                            <textarea rows="4" cols="50" th:name="diagnosisAilment" class="form-control form-input" autofocus="true" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- make this container flex end -->
                            <div class="title">
                                <h6>Medicine List</h6>
                            </div>
                            <div >
                                <button class="btn btn-primary float-end" id="addMedicineBtn" type="button" ><i class="uil uil-plus">Add medicine</i></button>
                            </div>
                        </div>
                        <div class="container mt-2">
                            <div class="row">
                                <div class="col-12">
                                    <!-- List of medicine is here -->
                                    <table class="table table-bordered medicineTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Medicine</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="tbody">
                                        <!-- Add a javascript where when user add medicine it will update in the table -->

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary float-end col-md-2 submitBtn">Submit</button>
                        </div>
                    </div>
                    <div class="confirmation_page">
                        <div class="confirmation_page-content">
                            <div>
                                <h4 class="confirmation_page-title">Confirm submit the form?</h4>
                                <p class="confirmation_page-subtitle">All data will be saved. Any change <br> request made after this will need <br>to update it manually</p>
                            </div>
                            <div class="confirmation_page-buttons">
                                <button class ="btn btn-primary confirmBtn">Confirm</button>
                                <button type="button"class ="btn btn-secondary cancelBtn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var i = 1;
    $(function(){

        $('#addMedicineBtn').click(function(){
            var html = '<tr scope="row" id="row'+i+'"><td class="row-index">'+i+'</td>' +
                '<td><input type="text"class="form-control form-input" th:name="medicine[]" id="medicine"></td>' +
                '<td><i class="uil uil-minus-circle btn removeMedicineBtn" id="'+i+'">Delete</i></td></tr>';
            $('.tbody').append(html);
            i++;
        })

        $(document).on('click','.removeMedicineBtn',function(){
            var child = $(this).closest('tr').nextAll();
            child.each(function(){
                // Getting <tr> id.
                var id = $(this).attr("id");
                var idx = $(this).children(".row-index");
                var dig = parseInt(id.substring(3));

                // Modifying row index.
                idx.html(`${dig - 1}`);

                // Modifying row id.
                $(this).attr('id', `row${dig - 1}`);
            })
            $(this).closest('tr').remove();

            i--;
        })

        $(document).on('click','.submitBtn', function(){
            var modalView = $('.confirmation_page');
            modalView.addClass('active-modal')
        })

        $(document).on('click', '.cancelBtn', function(){
            var modalView = $('.confirmation_page');
            modalView.removeClass('active-modal')
        })
    })

</script>
    </body>
</html>